* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background: rgba(180, 180, 180, 0.5);
}
header {
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 2em;
}
h1:hover {
    color: yellow;
}
.button {
    color: white;
    border: none;
    font-weight: bold;
    background: #008cba;
    width: 6rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #00ba63;
}
.input {
    color: black;
    border: none;
    font-weight: bold;
    background: white;
    width: 11rem;
    height: 3rem;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    /* text-transform: uppercase; */
}
.portfolio {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 600px;
}
.header-port {
    position: absolute;
    top: -20px;
    background: #00ba63;
    padding: 10px;
    border-radius: 10px;
}
.card {
    border-radius: 10px;
    margin: 2rem;
    background: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card:hover, .header-port:hover {
    background: rgb(81, 82, 81);
}

@keyframes card {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .card {
    animation: card 1s;
  }

  footer {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
  }

  @media screen and (max-width: 764px) {
    header {
        font-size: 1.5em;
        height: 150px;
    }
    .header-port, h3, h4 {
        font-size: 1em;
    }
    .input {
        width: 11rem;
        height: 2.5rem;
        margin: 15px;
        border-radius: 5px;

  }
  @media screen and (max-width: 578px) {
    header {
        font-size: 1em;
        height: 110px;
    }
    .header-port, h3, h4 {
        font-size: 0.6em;
    }

  }
  @media screen and (max-width: 393px) {
    header {
        font-size: 0.6em;
        height: 80px;
    }
    .header-port, h3, h4 {
        font-size: 0.4em;
    }
  }